hr{
  color: rgba(117, 110, 110, 0.322);
}

.post{
  margin-left: 10%;
  margin-right: 40%;
}
.post__content{
  display: flex;
}
.post__avatar{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
}
.post__header{
  margin: 5px;
}
.post__nickName{
  font-weight: bold;
  font-size: 20px;
}
.post__player{
  display: flex;
  align-items: flex-end;
}
.post__video{
  position: relative;
}
.post__video__src{
  width: 20vw;
  border-radius: 2%;
}
.post__loader{
  position: absolute;
  top: 50px;
  left: 50px
}
.post__dopInfo{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
}


.info{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.info__header{
  display: flex;
}
.info__avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.info__uniqueId{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin: 10px;
}
.info__nickname{
  font-weight: 900px;
  font-size: 20px;
  margin: 10px;
}
.info__follow{
  display: flex;
  justify-content: space-around;
}
.info__follow__span{
  font-weight: 900px;
  font-size: 20px;
}
.info__signature{
  font-family: Arial, Helvetica, sans-serif;
}


.user{
  position: relative;
  margin-left: 10%;
  margin-right: 20%;
}
.user__video{
  position: relative;
  margin: 1px;
  width: 22vw;
}
.user__video__src{
  width: 100%;
}
.user__video__count{
  position: absolute;
  color: white;
  /*width: 100%;
  bottom: 0;
  height: 100px;*/
  left: 20px;
  bottom: 20px;
}
.user__posts{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .user__video{
    width: 33vw;
  }
  .post{
    margin-right: 10%;
  }
  .post__video__src{
    width: 40vw;
  }
}

@media screen and (max-width: 600px) {
  .user__video{
    width: 70vw;
  }
  .info__follow{
    flex-direction: column;
  }
  .post{
    margin: 0;
  }
  .post__video__src{
    width: 60vw;
  }
}
